.profile{
    position: absolute;
    top: 58px;
    left: 1716px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    width: 140px;
}
.profile .notification{
    margin-right:22px ;
}
.profile .profileimg img{
    /* size-adjust: 100%; */
    object-fit: contain;
    height: 50px;
    border-radius:50% ;
}