/* Sidebar styling */
.sidebar {
  position: absolute;
  top: 64px;
  left: 78px;
  width: 15%;
  height: 566px;
  background-color: transparent;
  transition: width 0.3s ease;
}

.sidebar.closed {
  width: 4%;
  border-right: 1px solid #e0e0e0;
}

/* Header styling */
.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  height: 40px;
  width: 251px;
}

.hamburger {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  margin-left: 10px;
}

.hamburger img {
  height: 32px;
  width: 32px;
  margin-right: 18px;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  color: #1e2a4a;
  margin-left: 10px;
}

.header .logo-text img {
  margin-top: 3px;
}

/* Sidebar content styling */
.sidebar-content {
  margin-top: 20px;
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-style: normal;
}

.menu {
  list-style-type: none;
  padding: 0;
}

.menu li {
  height: 64px;
  padding-left: 10px;
  margin: 0px;
}

/* Menu item styling */
.menu-item {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  margin-bottom: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Hover effect for menu items */
.menu-item:hover {
  background-color: #dcecf196;
}

/* Active menu item styling (for the clicked item) */
.menu-item.active {
  background-color: #d7f4fe; /* Keeps background color after clicking */
}

/* Menu item width adjustment based on sidebar state */
.menu-item-open {
  width: 220px;
}

.menu-item-closed {
  width: 55px;
}

/* Icon and text styling for menu items */
.menu-item .icon {
  margin-right: 25px;
}

.menu-item .text {
  transition: opacity 0.3s ease;
  font-size: 22px;
}

/* Hide text when sidebar is closed */
.sidebar.closed .menu-item .text {
  display: none;
}

/* Responsive styling */
@media (max-width: 1660px) {
  /* Tablet view */
  
  .sidebar.closed {
    width: 4%;
    border-right: 1px solid transparent;
  }
  .menu-item .text {
    font-size: 16px;
  }
  .menu-item.menu-item-open{
    width: 85%;
  }
  
}


